@media screen and (max-width: 992px){
    .container .row:nth-child(2){
        flex-direction: column-reverse;
    }
    .first-text h1,
    .first-text h2 {
        font-size: 32px;
    }
    .main{
        flex-direction: column;
    }
    .main-2{
        flex-direction: column-reverse;
    }
}